.menu {
            color:white;
            background-color:cornflowerblue;
            font-size:xx-large;
            margin:0 auto;
            text-align:center
        }
        
a:hover {color: yellow;}


#footer {margin-bottom:0px; height:60px; text-align:center;}

.img {
   
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }

p { font-family:Calibri}
