/* Default CSS Stylesheet for InnerWorkings tasks */

body, td, input, select, textarea
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

body
{
	margin: 10px 40px;
}

h1 { font-size: 320%; }
h2 { font-size: 240%; }
h3 { font-size: 180%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

h1, h2, h3, h4, h5, h6
{
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
}

a, a:visited, a:active, a:hover
{
	color: #3333cc;
	text-decoration: none;
}

